# Visual Studio
.vs/
*.user
*.suo
*.vssscc
*.sln.docstates

# Build
bin/
obj/
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets / config locales
appsettings.Development.json
secrets.json
.env

# Rider / VS Code
.idea/
.vscode/

# Entity Framework
*.db
*.sqlite